[submodule "CustomLevels"]
	path = CustomLevels
	url = https://github.com/jaythebusinessgoose/CustomLevels
[submodule "Telescopes"]
	path = Telescopes
	url = https://github.com/jaythebusinessgoose/Telescopes
[submodule "ButtonPrompts"]
	path = ButtonPrompts
	url = https://github.com/jaythebusinessgoose/ButtonPrompts
